html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 62.5%;

  background-color: rgba(194, 164, 164, 0.5);
  height: 100vh;
  font-family: 'Raleway', sans-serif;

 
}

.header {
  text-align: center;
  font-size: 30px;
  background-image: linear-gradient(to right bottom, rgba(236, 227, 227, 0.2), rgba(128, 57, 57, 0.7)), url("header.jpg");
  height: 250px;
  color: white;
}

.header__main {
  font-size: 60px;
  margin-top: 0;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.header__sub {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-top: 60px;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.mainContent {
  padding-top: 4rem;
}

.form {
  display: flex;
  align-items: center;
}

.form__box {
  height: 375px;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 8rem auto;
  background-color: rgba(133, 116, 116, 0.5);
  border-radius: 8px;
  box-shadow: 1rem 1rem 10px rgba(134, 121, 121, 0.9);
  position: absolute;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
}

.input {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  text-align: center;

  
}

.input > *:focus {
  outline: none;
}

.input > * {
  background-color: rgb(156, 114, 125);
  width: 60%;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
  border-radius: 5px;
}

.input > *::placeholder {
  color: white;
  font-family: 'Raleway', sans-serif;

}

.input__text {
  height: 3rem;
  width: 60%;
  margin-top: 2rem;
  padding-left: 1rem;
}

.input__select {
  font-size: 1.5rem;
  margin: 1.5rem auto;
  color: white;
  font-weight: 500;
  width: 200px;
  padding: .7rem 0;
}


.input__textArea {
  padding-left: 1rem;
  padding-top: 1rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}